# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources.local.xml
/checkstyle-idea.xml
/compiler.xml
/jarRepositories.xml
/misc.xml
/uiDesigner.xml
/vcs.xml
